{% extends "projects/base_project_template.html" %}

{% set title_content = " Ctrl+Shift+Blog " %}

{% block title %}
{{ title_content }}
{% endblock %}

{% block project_name %}
{{ title_content }}
{% endblock %}

{% block tech_stack %}
Python, Django
{% endblock %}

{% block github_url %}
https://gitlab.com/RYZHAIEV-SERHII/ctrl-shift-blog
{% endblock %}

{% block project_description %}
<samp>
    Welcome to <strong>Ctrl+Shift+Blog</strong>, where we explore the fascinating world of technology, coding, and all
    things nerdy!<br>
    <br>
    Whether you're a seasoned developer or just getting started, this blog is your go-to resource for insights, tips,
    and
    thought-provoking content.
</samp>
{% endblock %}
