{% extends "projects/base_project_template.html" %}

{% set title_content = " Entertaining Chatbot " %}

{% block title %}
{{ title_content }}
{% endblock %}

{% block project_name %}
{{ title_content }}
{% endblock %}

{% block tech_stack %}
Python,
{% endblock %}

{% block github_url %}
https://gitlab.com/RYZHAIEV-SERHII/entertaining-chatbot
{% endblock %}

{% block project_description %}
<samp>
    An entertaining Python chatbot.<br>
    This bot can:<br>
    Recommend<br>
    - movies,<br>
    - music,<br>
    - games by genre,<br>
    <br>
    Tell jokes and interesting stories<br>
    <br>
    And also provide an opportunity to play games:<br>
    - "Rock-paper-scissors",<br>
    - "Field of Miracles",<br>
    - "Guess the number."<br>
</samp>
{% endblock %}
