{% extends "projects/base_project_template.html" %}

{% set title_content = " MyAwesomeBlog " %}

{% block title %}
{{ title_content }}
{% endblock %}

{% block project_name %}
{{ title_content }}
{% endblock %}

{% block tech_stack %}
Python, Django
{% endblock %}

{% block github_url %}
https://github.com/RYZHAIEV-SERHII/MyAwesomeBlog
{% endblock %}

{% block project_description %}
<samp>
    Hello and welcome! if you`re reading this that`s mean that you`re may be interested in my project, so let me
    introduce what it`s about!
    <br>
    <br>
    Telling the truth , My Awesome Blog it`s my first try to create some web page what will be look like a blog page! So
    it may not look very well performed but i`m hope you`ll understand what this is my very new experience and i`m just
    studying to web development!
    <br>
    <br>
    As my skills will growth, I will improve mine page, so it will be stayed updated and looked much better in the
    future!
</samp>
{% endblock %}
