{% extends "projects/base_project_template.html" %}

{% set title_content = " ToDo List App " %}

{% block title %}
{{ title_content }}
{% endblock %}

{% block project_name %}
{{ title_content }}
{% endblock %}

{% block tech_stack %}
Python, JSON, Tkinter
{% endblock %}

{% block github_url %}
https://github.com/RYZHAIEV-SERHII/ToDoList
{% endblock %}

{% block project_description %}
<samp>
    This is a ToDo application written in Python that uses JSON file as a storage. <br>
    <br>
    The application is available in two versions:<br>
    1. Console version.<br>
    2. GUI version.<br>
</samp>
{% endblock %}
