<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

        <a href="{{ url_for('main.render_page') }}" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo">
            <h1 class="sitename">RYZHAIEV-SERHII</h1>
        </a>

        {% block navbar %}
        {% include 'includes/navbar.html' %}
        {% endblock %}

    </div>
</header>
