{% extends "base.html" %}

{% block content %}

<!-- ======= Education Section ======= -->
<section id="education" class="services">
    <div class="container">
        <div class="section-title">
            <h2>Education</h2>
        </div>
        <div class="row">
            <div class="col-lg-12" data-aos="fade-up" style="display: inline-block;">
                <div class="col-md-4 mt-4 mt-md-0 icon-box" data-aos="fade-up" data-aos-delay="100"
                     style="padding:0px 0px;padding-bottom: 5px;display: inline-block;">
                    <img src="{{ url_for('static', filename='img/education/CBS_logo.png') }}" class="img-fluid" alt="">
                    <p style="text-align:left;color:#fff;padding: 5px 10px;"><em>
                        Python Developer
                    </em></p>
                    <h5 style="text-align:left;padding: 0px 10px;">January 2024 - August 2024</h5>
                    <h6 style="text-align:left;color:#fff;padding: 0px 10px;">Relevant Coursework</h6>
                    <ul style="text-align:left;color:#fff;">
                        <li>Entertaining Chatbot</li>
                        <li>Simple Telegram Bot</li>
                        <li>Blog Platform</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- ======= Diplomas and Certificates Section ======= -->
    <div class="portfolio">
        <div class="container">

            <div class="section-title">
                <h2>Diploma</h2>
            </div>

            <div class="row portfolio-container">

                <div class="col-lg-4 col-md-6 portfolio-item mb-4" data-aos="fade-up">

                    <div class="portfolio-wrap">
                        <img src="{{ url_for('static', filename='img/diploma/CyberBionic-Systematics.jpg') }}"
                             class="img-fluid"
                             alt="">
                        <div class="portfolio-info">
                            <h4>Python Developer</h4>
                            <div class="portfolio-links">
                                <a href="https://testprovider.com/ru/search-certificate/TP22321258D"
                                   target="_blank" title="Diploma"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ====== Certification section ====== -->
        <div class="container">

            <div class="section-title">
                <h2>Online Certification</h2>
            </div>

            <div class="row portfolio-container" style="position: relative; margin: auto;">


                <!--IT Marathon 4.0 (2024) (EPAM)-->
                <div class="col-lg-3 col-md-6 portfolio-item mb-4" data-aos="fade-up">
                    <div class="portfolio-wrap">
                        <img src="{{ url_for('static', filename='img/certification/epam_systems_logo.jpeg') }}"
                             class="img-fluid w-100"
                             alt="">
                        <div class="portfolio-info">
                            <h4>IT Marathon 4.0</h4>
                            <div class="portfolio-links">
                                <a href="https://certificates.epam.com/certificates/79b58cd1-8b27-4407-990d-cebd111abe49"
                                   target="_blank" title="Certificate"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--WordPress Crash Course-->
                <div class="col-lg-3 col-md-6 portfolio-item mb-4" data-aos="fade-up">
                    <div class="portfolio-wrap">
                        <img src="{{ url_for('static', filename='img/certification/Udemy_logo.jpg') }}"
                             class="img-fluid w-100"
                             alt="">
                        <div class="portfolio-info">
                            <h4>WordPress Crash Course</h4>
                            <div class="portfolio-links">
                                <a href="https://www.udemy.com/certificate/UC-2042a219-1a54-4997-b355-925591d3789f/"
                                   target="_blank" title="Certificate"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>


                <!--Django Starter-->
                <div class="col-lg-3 col-md-6 portfolio-item mb-4" data-aos="fade-up">
                    <div class="portfolio-wrap">
                        <img src="{{ url_for('static', filename='img/certification/cbs_logo.jpeg') }}"
                             class="img-fluid w-100"
                             alt="">
                        <div class="portfolio-info">
                            <h4>Django Starter</h4>
                            <div class="portfolio-links">
                                <a href="https://testprovider.com/ru/search-certificate/tp32665130"
                                   target="_blank" title="Certificate"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Databases. PostgreSQL-->
                <div class="col-lg-3 col-md-6 portfolio-item mb-4" data-aos="fade-up">
                    <div class="portfolio-wrap">
                        <img src="{{ url_for('static', filename='img/certification/cbs_logo.jpeg') }}"
                             class="img-fluid w-100"
                             alt="">
                        <div class="portfolio-info">
                            <h4>Databases. PostgreSQL</h4>
                            <div class="portfolio-links">
                                <a href="https://testprovider.com/ru/search-certificate/tp82103018"
                                   target="_blank" title="Certificate"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Python Advanced-->
                <div class="col-lg-3 col-md-6 portfolio-item mb-4" data-aos="fade-up">
                    <div class="portfolio-wrap">
                        <img src="{{ url_for('static', filename='img/certification/cbs_logo.jpeg') }}"
                             class="img-fluid w-100"
                             alt="">
                        <div class="portfolio-info">
                            <h4>Python Advanced</h4>
                            <div class="portfolio-links">
                                <a href="https://testprovider.com/ru/search-certificate/tp50131836"
                                   target="_blank" title="Certificate"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Python Essential (CBS)-->
                <div class="col-lg-3 col-md-6 portfolio-item mb-4" data-aos="fade-up">
                    <div class="portfolio-wrap">
                        <img src="{{ url_for('static', filename='img/certification/cbs_logo.jpeg') }}"
                             class="img-fluid w-100"
                             alt="">
                        <div class="portfolio-info">
                            <h4>Python Essential</h4>
                            <div class="portfolio-links">
                                <a href="https://testprovider.com/ru/search-certificate/tp11347759"
                                   target="_blank" title="Certificate"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Git Basics-->
                <div class="col-lg-3 col-md-6 portfolio-item mb-4" data-aos="fade-up">
                    <div class="portfolio-wrap">
                        <img src="{{ url_for('static', filename='img/certification/cbs_logo.jpeg') }}"
                             class="img-fluid w-100"
                             alt="">
                        <div class="portfolio-info">
                            <h4>Git Basics</h4>
                            <div class="portfolio-links">
                                <a href="https://testprovider.com/ru/search-certificate/tp55935653"
                                   target="_blank" title="Certificate"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Python Starter-->
                <div class="col-lg-3 col-md-6 portfolio-item mb-4" data-aos="fade-up">
                    <div class="portfolio-wrap">
                        <img src="{{ url_for('static', filename='img/certification/cbs_logo.jpeg') }}"
                             class="img-fluid w-100"
                             alt="">
                        <div class="portfolio-info">
                            <h4>Python Starter</h4>
                            <div class="portfolio-links">
                                <a href="https://testprovider.com/ru/search-certificate/tp64019277"
                                   target="_blank" title="Certificate"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Python Essential (ITVDN)-->
                <div class="col-lg-3 col-md-6 portfolio-item mb-4" data-aos="fade-up">
                    <div class="portfolio-wrap">
                        <img src="{{ url_for('static', filename='img/certification/ITVDN_logo.jpg') }}"
                             class="img-fluid w-100"
                             alt="">
                        <div class="portfolio-info">
                            <h4>Python Essential</h4>
                            <div class="portfolio-links">
                                <a href="https://testprovider.com/ru/search-certificate/TP74199670"
                                   target="_blank" title="Certificate"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Software Functional Testing (Summer Program 2022) (EPAM)-->
                <div class="col-lg-3 col-md-6 portfolio-item mb-4" data-aos="fade-up">
                    <div class="portfolio-wrap">
                        <img src="{{ url_for('static', filename='img/certification/epam_systems_logo.jpeg') }}"
                             class="img-fluid w-100"
                             alt="">
                        <div class="portfolio-info">
                            <h4>Software Functional Testing</h4>
                            <div class="portfolio-links">
                                <a href="https://drive.google.com/file/d/1gi6hs5hKViO1yuRPN_AsVKB7yFRzPo66/view?usp=drive_link"
                                   target="_blank" title="Certificate"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- End Education Section -->

{% endblock %}
